.idle_image
{
    position: relative;
}
  
.idle_image_text
{
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translate( -50%, -50% );
    color: black;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    opacity: 50%;
}
